.idea
target
.classpath
.checkstyle
.project
.checkstyle
.settings
.factorypath
build.properties
bin
.metadata
dependency-reduced-pom.xml
*.iml
*.sublime-project
*.sublime-workspace
*.h2.db
*.lock.db

*.DS_Store
.gradle
work/
